albumentations
crc32c
GitPython
imgaug==0.2.6
jupyter
packaging
pandas
Pillow
plotly
pytorch-toolbelt
safitty
scipy
scikit-learn
seaborn
segmentation-models-pytorch
tensorboard==2.0.0
tensorboardX
tensorflow-estimator==2.0.0
tensorflow-gpu
tifffile
torch
torchvision
